# Kopiere diese Datei zu ".env" und trage deine echten Werte ein.
# .env NIEMALS ins Git-Repo committen!
OPENHAB_URL=http://192.168.0.10:8080
OPENHAB_TOKEN=oh.your_actual_token_here
API_KEY=your_local_key
SYNONYMS_PATH=./synonyms.yaml
# Ersetzt den alten CHROMA_PATH: ein einziges Pickle-File mit Item-Cache
# + TF-IDF-Rohdaten statt einer Vektordatenbank.
CACHE_PATH=./item_cache.pkl
